In [2]:
import pandas_datareader.data as reader
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt

In [3]:
end = dt.datetime.now()
start = dt.date(end.year, end.month - 3, end.day)
stocks = ['MSFT', 'AAPL', 'GE', '^GSPC']

In [4]:
df = yf.download(stocks, start=start, end=end)

[*********************100%%**********************]  4 of 4 completed

In [5]:
df.head()

Price        Adj Close                                            Close  \
Ticker            AAPL          GE        MSFT        ^GSPC        AAPL
Date
2024-02-26  180.914627  123.300217  406.806244  5069.529785  181.160004
2024-02-27  182.382629  122.678818  406.746338  5078.180176  182.630005
2024-02-28  181.174255  123.969414  406.985901  5069.759766  181.419998
2024-02-29  180.505173  124.989151  412.895264  5096.270020  180.750000
2024-03-01  179.416656  126.391281  414.751892  5137.080078  179.660004

Price                                                  High              ...  \
Ticker              GE        MSFT        ^GSPC        AAPL          GE  ...
Date                                                                     ...
2024-02-26  123.519554  407.540009  5069.529785  182.759995  123.846771  ...
2024-02-27  122.897049  407.480011  5078.180176  183.919998  123.711090  ...
2024-02-28  124.189941  407.720001  5069.759766  183.119995  125.227455  ...
2024-02-29  125.211494  413.640015  5096.270020  182.570007  125.442940  ...
2024-03-01  126.616119  415.500000  5137.080078  180.529999  127.150841  ...

Price              Low                     Open                          \
Ticker            MSFT        ^GSPC        AAPL          GE        MSFT
Date
2024-02-26  407.359985  5068.910156  182.240005  122.633682  411.459991
2024-02-27  403.850006  5057.290039  181.100006  123.695129  407.989990
2024-02-28  405.320007  5058.350098  182.509995  123.032722  408.179993
2024-02-29  405.920013  5061.890137  181.270004  124.493217  408.640015
2024-03-01  410.880005  5094.160156  179.550003  125.299278  411.269989

Price                       Volume
Ticker            ^GSPC       AAPL       GE      MSFT       ^GSPC
Date
2024-02-26  5093.000000   40867400  7705449  16193500  3683930000
2024-02-27  5074.600098   54318900  7300354  14835800  3925950000
2024-02-28  5067.200195   48953900  7633025  13183100  3789370000
2024-02-29  5085.359863  136682600  8177329  31947300  5219740000
2024-03-01  5098.509766   73488000  8698201  17800300  4748110000

[5 rows x 24 columns]

In [6]:
df = df['Adj Close']

In [7]:
df.head()

Ticker            AAPL          GE        MSFT        ^GSPC
Date
2024-02-26  180.914627  123.300217  406.806244  5069.529785
2024-02-27  182.382629  122.678818  406.746338  5078.180176
2024-02-28  181.174255  123.969414  406.985901  5069.759766
2024-02-29  180.505173  124.989151  412.895264  5096.270020
2024-03-01  179.416656  126.391281  414.751892  5137.080078